---
import { CollectionEntry, getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
export async function getStaticPaths() {
    const blogPosts = await getCollection("blog", ({ data }) => {
        return !data.isDraft && data.date < new Date();
    });
    return blogPosts.map(post => ({
        params: { slug: post.slug },
        props: { post },
    }));
}
interface Properties { post: CollectionEntry<"blog">; }
const { post } = Astro.props as Properties;
const { Content } = await post.render();
---

<MainLayout pageTab={{ title: post.data.title }}>
    <h1>{post.data.title}</h1>
    <Content />
</MainLayout>
