---
import MainLayout from '../../layouts/MainLayout.astro';
import PostsGrid from '../../components/PostsGrid.astro';
---

<MainLayout pageTab={{ title: "Blog" }}>
    <section class="latest-posts">
        <h1>Últimas publicaciones</h1>
        <PostsGrid></PostsGrid>
    </section>
</MainLayout>

<style>
    .latest-posts h1{
        text-align: center;
        margin-bottom: 4rem;
    }
</style>
