---
import 'normalize.css';
import '../styles/global.css';

import Head from '../components/Head.astro';
import NavigationBar from "../components/NavigationBar.astro";
import PostsGrid from '../components/PostsGrid.astro';
---

<html lang="en">
	<Head tabTitle="Pablo Mira García"></Head>
	<body>
		<header>
			<NavigationBar class="centered-container" />
		</header>
		<main class="centered-container">
			<section class="latest-posts">
				<h1>Últimas publicaciones</h1>
				<PostsGrid></PostsGrid>
			</section>
		</main>
	</body>
</html>

<style>
	body{
		background-color: var(--dark-background-color);
	}
	.centered-container{
		width: 80%;
		margin: 0 auto;
		margin-bottom: 3rem;
	}
	@media screen and (max-width: 1300px){
        .centered-container{
            width: 90%;
        }
    }
	.latest-posts h1{
		text-align: center;
		margin-bottom: 2rem;
	}
</style>
