---
import 'normalize.css';
import '../styles/global.css';

import Head from '../components/Head.astro';
import NavigationBar from "../components/NavigationBar.astro";
import PostsGrid from '../components/PostsGrid.astro';
---

<html lang="en">
	<Head></Head>
	<body>
		<header>
			<NavigationBar />
		</header>
		<main class="container">
			<section class="latest-posts">
				<h1>Últimas publicaciones</h1>
				<PostsGrid></PostsGrid>
			</section>
		</main>
	</body>
</html>

<style>
	body{
		background-color: var(--dark-background-color);
	}
	.container{
		width: var(--container-width);
		margin: 0 auto;
		margin-bottom: 3rem;
	}
	.latest-posts h1{
		text-align: center;
		margin-bottom: 2rem;
	}
</style>
