---
import { Icon } from 'astro-icon';
---

<div class="top-bar-background container">
    <div class="top-bar">
        <a id="logo" href="#">
            <Icon name="logo" alt="Logo de Pablo Mira García" />
        </a>
        <nav>
            <ol>
                <li>Blog</li>
                <li>About</li>
            </ol>
        </nav>
    </div>
</div>

<style>
    .top-bar-background{
        background-color: transparent;
    }
    .container{
        width: var(--container-width);
        margin: 0 auto;
    }
    .top-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        padding: 0.5rem 0;
        margin-bottom: 1rem!important;
    }
    #logo{
        width: 10%;
        max-width: 4rem;
        min-width: 3rem;
    }
    nav ol{
        display: flex;
        gap: 2rem;
        color: var(--dark-text-color);
        list-style: none;
        padding: 0;
    }
</style>
