---
import Post from "./Post.astro";
---
<div class="posts">
    <Post imageSrc="/favicon.svg"
          title="Arquitectura hexagonal y DDD con .NET Core"
          date={new Date()}
          href="/" />
    <Post imageSrc="/favicon.svg"
          title="Cómo funciona Docker"
          date={new Date()}
          href="/" />
    <Post imageSrc="/favicon.svg"
          title="Otro ejemplo"
          date={new Date()}
          href="/" />
    <Post imageSrc="/favicon.svg"
          title="Un ejemplo cualquiera"
          date={new Date()}
          href="/" />
    <Post imageSrc="/favicon.svg"
          title="Otro ejemplo más"
          date={new Date()}
          href="/" />
</div>

<style>
      .posts{
            display: grid;
            grid-gap: 2rem;
            grid-template-columns: repeat(auto-fill, minmax(min(100%, 28rem), 1fr));
            width: 90%;
            margin: 0 auto;
      }
</style>
