---
import Link from "./Link.astro";
---

<nav>
    <ol>
        <Link text="Blog" />
        <Link text="About" />
    </ol>
</nav>

<style>
    nav ol{
        display: flex;
        gap: 2rem;
        list-style: none;
        padding: 0;
    }
</style>
